$def with(problem)
<div>
<div class="hero-unit">	
	<form class="form-horizontal" accept-charset="UTF-8" action="/edit?type=problem&id=$problem['id']" method="post">
		<fieldset>	
			<div class="control-group">
				<label class="control-label" for="name">Title</label>
				<div class="controls">
					<input id="title" value="$problem['title']" name="title" placeholder="title" type="text">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="description">Description</label>
				<div class="controls">
					<textarea rows="10" cols="60" id="description" name="description" placeholder="description" type="text">$problem['description']</textarea>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="input_formal">Input formal</label>
				<div class="controls">
					<textarea rows="5" cols="60" id="input_formal" name="input_formal" placeholder="input formal" type="text">$problem['input_formal']</textarea>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="output_formal">Output formal</label>
				<div class="controls">
					<textarea rows="5" cols="60" id="output_formal" name="output_formal" placeholder="output formal" type="text">$problem['output_formal']</textarea>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="sample_input">Sample input</label>
				<div class="controls">
					<textarea rows="5" cols="30" id="sample_input" name="sample_input" placeholder="sample input" type="text">$problem['sample_input']</textarea>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="sample_output">Sample output</label>
				<div class="controls">
					<textarea rows="5" cols="30" id="sample_output" name="sample_output" placeholder="sample output" type="text">$problem['sample_output']</textarea>
				</div>
			</div>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary" >Submit!</button>
			</div>
		</fieldset>
	</form>
</div>          
</div>
