$def with(header , body)
<!DOCTYPE html>
<html>
  <head>
    <title>Gym of Marshtomp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Loading Bootstrap -->
    <link href="static/dist/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/dist/css/flat-ui.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<h1>
			<img width="80px" src="static/logo.png"></img>
			Marshtomp
			<img width="80px" src="static/logo.png"></img>
	</h1>
	  	$:header
	<div class="container">
		$:body
	</div>
  	<hr>
    <footer>
		<p>&copy; Sd.Invol 2014</p>
	<!--	<a class="btn pull-right">Upload image</a> -->
    </footer>
    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="static/dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/dist/js/vendor/video.js"></script>
    <script src="static/dist/js/flat-ui.min.js"></script>
	<script src="static/getimg.js"></script>
  </body>
</html>
